h1 {
	margin-bottom: 1%;
	font-weight: 2;
}
div {
	margin-bottom: 1%;
}
body {
	background-image: url("../images/postojna-cave.jpg");
}
h1,.main-content {
	margin: 2% 3% 0% 3%;
}
.transparent-box {
	background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.crystals {
}
.crystals-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.crystal-container {
	background-color: black;
	width: 22%;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.crystal {
	height: 90%;
}
